<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 需配置的项 -->
    <!-- web.xml中shiro的filter对应的bean -->
    <!-- ShiroFilterFactoryBean是一个工厂bean 真正的filter在下面 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 安全管理器 -->
        <property name="securityManager" ref="securityManager" />
        <!-- 登录地址 可以不存在 一切行为在过滤器中完成 默认为 /login.jsp -->
        <property name="loginUrl" value="/user/login.do" />
        <!-- 权限拦截 拒绝访问 我们做了json处理 所以不用设置也没关系 -->
        <property name="unauthorizedUrl" value="/index.html" />

        <!-- 认证成功统一跳转到first.action，但不建议配置，默认是shiro认证成功自动到上一个请求路径会更加合理 -->
        <!--<property name="successUrl" value="/first.action"/>-->

        <!-- 自定义过滤器链 -->
        <property name="filters">
            <map>
                <entry key="authc">
                    <bean class="com.bobomico.shiro.filter.JsonDataFormAuthenticationFilter" />
                </entry>
                <entry key="perms">
                    <bean class="com.bobomico.shiro.filter.JsonDataPermissionsAuthorizationFilter" />
                </entry>
                <entry key="logout">
                    <bean class="com.bobomico.shiro.filter.JsonDataLogoutFilter" />
                </entry>
            </map>
        </property>

        <!-- filter-chain 过虑器链定义，从上向下顺序执行，一般将/**放在最下边 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- 注册时检查用户名是否存在 -->
                /user/check_valid.do = anon

                <!-- 静态资源 -->
                /assets/** = anon
                /images/** = anon
                /dist/** = anon
                /js/** = anon
                /styles/** = anon
                /css/** = anon

                <!-- 首页 -->
                /index.jsp = anon

                <!-- 注册 -->
                /api/account/register.do = anon

                <!-- 注销 -->
                /user/logout.do = logout

                /** = authc

                <!-- 授权 -->
                <!-- /api/account/resetPassword.do = perms[user:create] -->
            </value>
        </property>
    </bean>

    <!-- 自定义认证器 -->
    <bean id="customModularRealmAuthenticator" class="com.bobomico.shiro.authenticator.CustomModularRealmAuthenticator">
        <property name="authenticationStrategy">
            <!-- 认证策略 -->
            <!-- AtLeastOneSuccessfulStrategy 只要一个或更多realm验证成功 那么认证将视为成功 -->
            <!-- FirstSuccessfulStrategy 第一个realm验证成功 整体认证被视为成功 且后续realm被忽略 -->
            <!-- AllSuccessfulStrategy 所有realm成功 认证才视为成功 -->
            <!-- <bean class="org.apache.shiro.authc.pam.AllSuccessfulStrategy"></bean> -->
            <bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean>
        </property>
    </bean>

    <!-- 二期 DefaultSecurityManager及DefaultWebSecurityManager都继承了SessionsSecurityManager -->
    <!-- session的管理由DefaultSecurityManager或DefaultWebSecurityManager中的SessionManager来负责 -->
    <!-- securityManager 安全管理器 需要注入realm -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 自定义认证器 放在realm定义之前 否则realm为null -->
        <property name="authenticator" ref="customModularRealmAuthenticator"></property>
        <!-- realm chain -->
        <property name="realms">
            <list>
                <ref bean="emailRealm" />
                <ref bean="userPassRealm" />
            </list>
        </property>
        <!-- 定义要使用的session管理器 -->
         <property name="sessionManager" ref="sessionManager"/>
        <!-- 自定义缓存 todo 以后换redis-->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- 自定义realm -->
    <bean id="emailRealm" class="com.bobomico.shiro.realm.EmailRealm">
        <!-- 现在要将凭证匹配器注入到realm中 其中有关于加密算法和加密次数等重要信息 -->
        <property name="credentialsMatcher" ref="retryLimitHashedCredentialsMatcher"/>
    </bean>
    <bean id="userPassRealm" class="com.bobomico.shiro.realm.UserPassRealm">
        <!-- 现在要将凭证匹配器注入到realm中 其中有关于加密算法和加密次数等重要信息 -->
        <property name="credentialsMatcher" ref="retryLimitHashedCredentialsMatcher"/>
    </bean>

    <!-- 凭证匹配器 -->
    <bean id="retryLimitHashedCredentialsMatcher"
          class="com.bobomico.shiro.matcher.RetryLimitHashedCredentialsMatcher">
        <constructor-arg index="0">
            <ref bean="userStatusSubject" />
        </constructor-arg>
        <property name="hashAlgorithmName" value="md5" />
        <property name="hashIterations" value="1" />
        <property name="storedCredentialsHexEncoded" value="true" />
    </bean>

    <!-- 缓存用户登录信息 次数和时间 -->
    <bean id="passwordRetryCache" class="com.bobomico.shiro.cache.PasswordRetryCache">
        <constructor-arg index="0">
            <ref bean="cacheManager" />
        </constructor-arg>
    </bean>

    <!-- 配置一个属于自己的Session ID生成器 -->
    <!-- 自定义Session ID生成管理器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" />

    <!-- 随后需要定义有一个会话的DAO处理，指的是你的会话的缓存位置，本次暂时将所有的会话数据保存在内存里面。
         会话保存处理：org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO -->
    <!-- 配置Session DAO的操作处理 -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <!-- 设置session缓存的名字，这个名字可以任意 -->
        <!--<property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>-->
        <!-- 定义该Session DAO操作中所使用的ID生成器 -->
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>

    <!-- 现在只是定义了缓存所需要的组件，但是并没有定义session与客户端的之间的联系，
            为了进行有效的session管理所以还需要建立有一个Cookie的操作模版。 -->
    <!-- 配置需要向Cookie中保存数据的配置模版 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!-- 在Tomcat运行下默认使用的Cookie的名字为JSESSIONID -->
        <constructor-arg name="name" value="hello.sesssion"/>
        <property name="path" value="/"/>
        <!-- 保证该系统不会受到跨域的脚本操作供给 -->
        <property name="httpOnly" value="true"/>
        <!-- 定义Cookie的过期时间，单位为秒，如果设置为-1表示浏览器关闭，则Cookie消失 -->
        <property name="maxAge" value="-1"/>
    </bean>

    <!-- SessionManager -->
    <!-- shiro提供了完整的会话管理功能，不依赖底层容器，JavaSE应用和JavaEE应用都可以使用。
            会话管理器管理着应用中所有Subject的会话，包括会话的创建、维护、删除、失效、验证等工作。-->
    <!-- 定义会话管理器的操作 -->
    <bean id="sessionManager"
          class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- 定义的是全局的session会话超时时间 此操作会覆盖web.xml文件中的超时时间配置 -->
        <property name="globalSessionTimeout" value="1000000"/>
        <!-- 删除所有无效的Session对象 此时的session被保存在了内存里面 -->
        <property name="deleteInvalidSessions" value="true"/>
        <!-- 定义要使用的无效的Session定时调度器 -->
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <!-- 需要让此session可以使用该定时调度器进行检测 -->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <!-- 定义Session可以进行序列化的工具类 -->
        <property name="sessionDAO" ref="sessionDAO"/>
        <!-- 所有的session一定要将id设置到Cookie之中，需要提供有Cookie的操作模版 -->
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
        <!-- 定义sessionIdCookie模版可以进行操作的启用 -->
        <property name="sessionIdCookieEnabled" value="true"/>
    </bean>

    <!-- 配置session的定时验证检测程序类，以让无效的session释放 -->
    <bean id="sessionValidationScheduler"
          class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler2">
        <property name="sessionValidationInterval" value="1000000"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:shiro/ehcache.xml" />
    </bean>

</beans>